[Unit]
Description=feed2exec sync
Documentation=man:feed2exec(1)
After=taskwarrior-sync.service
AssertPathExists=%h/.config/feed2exec.ini

[Service]
Type=oneshot
Environment="PATH=/bin:/usr/bin" "PYTHONPATH=.local/lib/python3"
TimeoutStartSec=5m
ExecStartPre=/usr/bin/nm-online -qt 1
ExecStart=/usr/bin/feed2exec --database ~/.local/share/feed2exec.db -v fetch
