[Unit]
Description=OfflineIMAP one-time full sync
Documentation=man:offlineimap(1)
Wants=network-online.target
After=network-online.target
After=feed2exec.service
AssertPathExists=%h/.offlineimaprc

[Service]
Type=oneshot
Environment="PATH=/bin:/usr/bin"
TimeoutStartSec=10m
ExecStart=/usr/bin/offlineimap -c %h/.offlineimaprc -u basic -o
