[Unit]
Description=Sync everything
Requires=taskwarrior-sync.service
Requires=vdirsyncer-sync.service
Requires=feed2exec.service
Requires=offlineimap.service
Requires=notmuch-new.service

[Service]
ExecStartPre=/usr/bin/nm-online -qt 1
ExecStart=/bin/true
