[Unit]
Description=vdirsyncer calendar sync
Documentation=man:vdirsyncer(1)
Wants=network-online.target
After=network-online.target
AssertPathExists=%h/.config/vdirsyncer/config

[Service]
Type=oneshot
TimeoutStartSec=5m
; 2021-02-02: --max-workers=1, see https://github.com/pimutils/vdirsyncer/issues/864
ExecStart=/usr/bin/vdirsyncer sync --max-workers=1
ExecStartPost=/bin/sh -c 'if [ -n "`which khal`" ]; then nice khal > /dev/null 2>&1; fi'
