.xchat2/xchatlogs
.vim/.netrwhist
.*.sw*
.wireshark/recent*
.wireshark/cfilters
.config/gtk-3.0/bookmarks
.config/variety/.firstrun
.config/variety/.last_change_time
.config/variety/.version
.config/variety/Downloaded/
.config/variety/Favorites/
.config/variety/history.txt
.config/variety/pencil_tile.png
.config/variety/smart_user.json
.config/variety/variety.log
.config/variety/wallpaper/
.config/variety/variety_latest_default.conf
.config/variety/banned.txt
.config/variety/syncdb.json
log/
.local/share/applications/mimeinfo.cache
/.mpd/state
/.mpd/sticker.sql
/.mpd/tag_cache
/.mpd/playlists/
/.mpd/pid
.local/share/applications/wine/
.wireshark/preferences
.wireshark/heuristic_protos
.wireshark/colorfilters
.wireshark/disabled_protos
.config/mpv/watch_later/
.local/share/zeitgeist/
.local/share/tracker/
.local/share/telepathy/
.local/share/recently-used.xbel
.local/share/gvfs-metadata/
.local/share/.converted-launchers
.local/share/keyrings/
.config/xfce4/xfconf/
.config/xfce4/panel/
.config/xfce4/desktop/
.config/libreoffice/
.config/nautilus/
.config/Thunar/
.config/dconf/
.config/enchant/
.config/gmpc/
.config/gtk-2.0/
.config/hexchat/
.config/htop/
.config/pavucontrol.ini
.config/pulse/
.vim/doc/
.config/hub
opt/hub-linux-amd64*
bin/hub
.local/lib/
.local/doc/
.local/bin/
.config/chromium/
.config/MusicBrainz/
bin/qpaeq
.local/share/meld/
.local/share/xorg/Xorg.*.log*
.local/share/man/
.local/share/doc/
.local/share/gegl-0.2/plug-ins/
.local/share/icons/
.config/gtk-3.0/custom-papers
.config/git-cola/settings
.config/QtProject.conf
.config/d-feet/config
.config/eog/eog-print-settings.ini
.config/sigrok/PulseView.conf
.config/inkscape/
.config/kde.org/icemon.conf
.local/etc/bash_completion.d/
.local/etc/fish/completions/
.config/evince/
.neomutt/colors.solarized.sh
