[user]
	name = Roland Hieber
	email = rohieb@rohieb.name
	signingkey = rohieb@rohieb.name

[color]
	ui = auto

[commit]
	verbose = 1

[alias]
	st = status
	br = branch
	fopa = format-patch
	bi = bisect
	sub = submodule

	f = fetch
	pu = push
	pur = pull --rebase
	puf = push --force-with-lease

	a = add -p

	chp = cherry-pick
	chpc = cherry-pick --continue

	ci = commit
	cia = commit --all
	ciam = commit --all -m.
	cis = commit --signoff
	cisa = commit --signoff --all
	amend = commit --amend
	fix = commit --fixup
	sq  = commit --squash

	d = diff
	di = diff
	dif = diff
	ca = diff --cached
	cached = diff --cached
	stat     = show --stat=100000 --stat-graph-width=40
	fullstat = show --stat=100000 --stat-graph-width=40
	fulldiff = diff -p --no-prefix -U20000

	co = checkout
	cop = checkout -p

	rep = reset -p
	hard = reset --hard
	rehead = reset HEAD
	reco = !sh -c 'git reset HEAD && git checkout .'
	redo = !sh -c 'git reset --soft $(git merge-base master HEAD)'

	pop = stash pop
	stp = stash pop
	sts = stash save

	ol = log --oneline
	lastlog = log --graph HEAD@{1}..HEAD --format='%C(auto)%h %Cgreen(%an) %Creset%s'
	fetchlog = log --graph HEAD..FETCH_HEAD --format='%C(auto)%h %Cgreen(%an) %Creset%s'
	graph = log --graph --pretty='%C(auto)%h%d %Cgreen(%an)%Creset %s' --abbrev-commit
	g     = !git graph '@{u}^..@'
	gr    = !git graph
	gra   = !git graph --branches --tags --remotes

	rb = rebase
	rbi = rebase -i
	rbc = rebase --continue

	im  = imerge merge
	imc = imerge continue
	imr = imerge rebase

	assume-unchanged = update-index --assume-unchanged
	no-assume-unchanged = update-index --no-assume-unchanged
	really-status = update-index --really-refresh

	svr = svn rebase
	svd = svn dcommit
	sv = !sh -c 'git svn rebase && git svn dcommit'

	noa = notes add -m

[core]
	excludesfile = ~/.gitrc/ignore

[cola]
	fontdiff = Terminus,8,-1,5,50,0,0,0,0,0
	tabwidth = 4
	spellcheck = false

[gui]
	editor = vi
	historybrowser = gitk

[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less

[diff]
	tool = meld
	compactionHeuristic = true      # git 2.9

[merge]
	tool = meld
	defaultToUpstream = true

[push]
	default = simple

[rebase]
	autoSquash = true
	autoStash = true
	missingCommitsCheck = warn

[achievement]
	upload = false

[bash]
	showDirtyState = true

[remote-hg]
	hg-git-compat = true

[init]
	templatedir = ~/.gitrc/init-template/

[submodule]
	fetchJobs = 4      # git 2.9
[fetch]
	recurseSubmodules = false
[sendemail]
	confirm = always
	envelopesender = auto
[notes]
	rewriteRef = refs/notes/commits
