[user]
	name = Roland Hieber
	email = rohieb@rohieb.name
	signingkey = rohieb@rohieb.name

[color]
	ui = auto

[alias]
	st = status
	co = checkout
	br = branch
	chp = cherry-pick
	pur = pull --rebase

	commit = commit --verbose
	ci = commit --verbose
	amend = commit --verbose --amend

	d = diff
	di = diff
	dif = diff
	ca = diff --cached
	cached = diff --cached
	stat = show --stat
	fulldiff = diff -p --no-prefix -U20000

	a = add -p

	stp = stash pop
	sts = stash save

	ol = log --oneline
	lastlog = log --graph HEAD@{1}..HEAD --format='%C(auto)%h %Cgreen(%an) %Creset%s'
	fetchlog = log --graph HEAD..FETCH_HEAD --format='%C(auto)%h %Cgreen(%an) %Creset%s'
	graph = log --graph --pretty='%C(auto)%h%d %Cgreen(%an)%Creset %s' --abbrev-commit
	g     = log --graph --pretty='%C(auto)%h%d %Cgreen(%an)%Creset %s' --abbrev-commit '@{u}^..@'
	gr    = log --graph --pretty='%C(auto)%h%d %Cgreen(%an)%Creset %s' --abbrev-commit
	gra   = log --graph --pretty='%C(auto)%h%d %Cgreen(%an)%Creset %s' --abbrev-commit --all

	assume-unchanged = update-index --assume-unchanged
	no-assume-unchanged = update-index --no-assume-unchanged
	really-status = update-index --really-refresh

	rbi = rebase -i
	rbc = rebase --continue
	f = fetch
	cop = checkout -p
	pu = push
	hard = reset --hard
	rehead = reset HEAD
	reco = !sh -c 'git reset HEAD && git checkout .'

	redo = !sh -c 'git reset --soft $(git merge-base master HEAD)'
	bi = bisect
	pop = stash pop

	rb = rebase
	sub = submodule
	fix = commit --fixup
	sq  = commit --squash

	im  = imerge merge
	imc = imerge continue
	imr = imerge rebase

[core]
	excludesfile = ~/.gitrc/ignore
	hooksPath = ~/.gitrc/init-template/hooks/    # git 2.9

[cola]
	fontdiff = Terminus,8,-1,5,50,0,0,0,0,0
	tabwidth = 4

[gui]
	editor = vi
	historybrowser = gitk

[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less

[diff]
	tool = meld
	compactionHeuristic = true      # git 2.9

[merge]
	tool = meld
	defaultToUpstream = true

[push]
	default = simple

[rebase]
	autoSquash = true
	autoStash = true
	missingCommitsCheck = warn

[achievement]
	upload = false

[bash]
	showDirtyState = true

[remote-hg]
	hg-git-compat = true

[http "https://hannover.ccc.de"]
	sslCAInfo = ~/.git/sslcerts/cacert.pem

[init]
	templatedir = ~/.gitrc/init-template/

[submodule]
	fetchJobs = 4      # git 2.9
[fetch]
	recurseSubmodules = false
[sendemail]
	confirm = always
	envelopesender = auto
