[user]
	name = Roland Hieber
	email = rohieb@rohieb.name
  signingkey = rohieb@rohieb.name

[color]
	ui = auto

[alias]
	st = status
	co = checkout
	br = branch
  ci = commit
  ol = log --oneline
  di = diff
  dif = diff
  stpop = stash pop
  stsa = stash save
	graph = log --graph --pretty=oneline --abbrev-commit --all --decorate
	cached = diff --cached
	amend = commit --amend

[core]
	excludesfile = /home/rohieb/.gitignore

