*.lock
.*.sw*
**/autosave/
**/Cache/
**/cache/
.config/Element/
.config/GIMP/
.config/MusicBrainz/
.config/Nextcloud/logs/
.config/OpenRCT2/
.config/QtProject.conf
.config/Signal/
.config/Thunar/
.config/VirtualBox/
.config/borg/security/
.config/calibre/
.config/chromium*/
.config/d-feet/config
.config/dconf/
.config/draw.io/
.config/enchant/
.config/eog/eog-print-settings.ini
.config/evince/
.config/evolution/
.config/git-cola/settings
.config/gmpc/
.config/google-chrome/
.config/gtk-2.0/
.config/gtk-3.0/bookmarks
.config/gtk-3.0/custom-papers
.config/hexchat/
.config/htop/
.config/hub
.config/ibus/bus/
.config/inkscape/
.config/inkstitch*
.config/kde.org/icemon.conf
.config/libreoffice/
.config/menus/applications-merged/
.config/mpv/watch_later/
.config/nautilus/
.config/obs-studio/
.config/pavucontrol.ini
.config/pulse/
.config/sigrok/PulseView.conf
.config/supertuxkart/
.config/systemd/user/default.target.wants/
.config/systemd/user/multi-user.target.wants/
.config/systemd/user/offlineimap-quick.target.wants/
.config/systemd/user/timers.target.wants/
.config/threema-web/
.config/unity3d/
.config/variety/.firstrun
.config/variety/.last_change_time
.config/variety/.version
.config/variety/Downloaded/
.config/variety/Favorites/
.config/variety/banned.txt
.config/variety/history.txt
.config/variety/pencil_tile.png
.config/variety/smart_user.json
.config/variety/syncdb.json
.config/variety/variety.log
.config/variety/variety_latest_default.conf
.config/variety/wallpaper/
.config/wesnoth-1.14
.config/xfce4/desktop/
.config/xfce4/panel/
.config/xfce4/xfconf/
.config/xournalpp/metadata/
.gitrc/credentials
.local/bin/
.local/doc/
.local/etc/bash_completion.d/
.local/etc/fish/completions/
.local/lib/
.local/pipx/
.local/share/*
.local/share/.converted-launchers
.local/share/applications/mimeinfo.cache
.local/share/applications/wine/
.local/share/b4/
.local/share/containers/cache/
.local/share/doc/
.local/share/gegl-0.2/plug-ins/
.local/share/gvfs-metadata/
.local/share/icons/
.local/share/keyrings/
.local/share/man/
.local/share/mc/
.local/share/meld/
.local/share/recently-used.xbel
.local/share/telepathy/
.local/share/tracker/
.local/share/vim-lsp-settings/
.local/share/xorg/Xorg.*.log*
.local/share/zeitgeist/
.local/state/
.local/venvs-manual/
.neomutt/colors.solarized.sh
.vim/.netrwhist
.vim/doc/
.vim/yank-paste-everywhere
.wireshark/cfilters
.wireshark/colorfilters
.wireshark/disabled_protos
.wireshark/heuristic_protos
.wireshark/preferences
.wireshark/recent*
.xchat2/xchatlogs
/.mpd/pid
/.mpd/playlists/
/.mpd/state
/.mpd/sticker.sql
/.mpd/tag_cache
bin/hub
bin/qpaeq
log/
opt/hub-linux-amd64*
