[submodule ".vim/bundle/vim-gnupg"]
	path = .vim/bundle/vim-gnupg
	url = git://github.com/jamessan/vim-gnupg.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/SudoEdit"]
	path = .vim/bundle/SudoEdit
	url = git://github.com/vim-scripts/SudoEdit.vim
[submodule ".vim/bundle/vimboy"]
	path = .vim/bundle/vimboy
	url = git://github.com/blinry/vimboy.git
[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule ".vim/bundle/vim-nerdtree-tabs"]
	path = .vim/bundle/vim-nerdtree-tabs
	url = git://github.com/jistr/vim-nerdtree-tabs.git
[submodule ".vim/bundle/openscad"]
	path = .vim/bundle/openscad
	url = git://github.com/choffee/openscad.vim.git
