# vim:set tw=0:o
LC_ALL=C.UTF-8
# m h  dom mon dow   command
0    0 * * * /usr/sbin/logrotate -s ~/.logrotate.state ~/.logrotate.conf
0   18 * * * if [ -d $HOME/Projects/stratum0-wiki/.git ]; then (echo; date; cd $HOME/Projects/stratum0-wiki; git pull origin master) >> $HOME/log/git-stratum0-wiki.log 2>&1; fi
*/15 * * * * if [ -x "`which task`" -a -r $HOME/.taskrc -a -z "$(ps -Af | grep -v grep | grep '^rohieb' | grep ' task ')" ]; then (echo; date; task sync 2>&1) >> ~/log/task-sync.log; fi
