snippet snip
	------------ 8< ----------------- snip ----------------- 8< ------------
	------------ >8 ----------------- snap ----------------- >8 ------------
snippet lorebarebox
	https://lore.barebox.org/barebox/
snippet loredistrokit
	https://lore.distrokit.org/distrokit/
snippet loreptx
	https://lore.ptxdist.org/ptxdist/
