snippet snip
	------------ 8< ----------------- snip ----------------- 8< ------------
	------------ >8 ----------------- snap ----------------- >8 ------------
snippet lorekernel
	http://lore.kernel.org/r/
snippet lorebarebox
	https://lore.barebox.org/barebox/
snippet loredistrokit
	https://lore.distrokit.org/distrokit/
snippet loreptxdist
	https://lore.ptxdist.org/ptxdist/
snippet loreoss
	https://lore.pengutronix.org/oss-tools/
