snippet snip
	---------------------------------- 8< ----------------------------------

snippet snap
	---------------------------------- >8 ----------------------------------
snippet lorebarebox
	https://lore.barebox.org/barebox/
snippet loredistrokit
	https://lore.distrokit.org/distrokit/
snippet loreptx
	https://lore.ptxdist.org/ptxdist/
