# vim: ft=neomuttrc
# index behaviour
folder-hook . 'set use_threads=yes sort=date sort_aux=date'
folder-hook . 'color status black white'

set index_format = "%4C %Z %<[6m?%<[7d?%<[2d?%<[1d?%[ %H:%M]&%[Yd %H:]>&%[%a %d.]>&%[%d.%b]>&%[%b'%y]> %-15.15L (%4c) %s"
# message number:   %4C
# message flags:        %Z
# if date older than 6m:   %<[6m?                                                           &%[%b'%y]> (e.g: Jan'70)
# if date in 7d-9m:              %<[7d?                                           &%[%d.%b]>           (e.g: 01.Jan)
# if date in 2d-7d:                    %<[2d?                          &%[%a %d.]>                     (e.g: So 01.)
# if date in 1d-2d:                          %<[1d?%        &%[Yd %H:]>                                (e.g: Yd 23:)
# if date younger than 23h:                         [ %H:%M]                                           (e.g: 23:59)
#   (using conditional dates, see https://www.neomutt.org/feature/cond-date,
#   nested ifs, %<...>, see https://neomutt.org/feature/nested-if,
#   and %[fmt], date and time of the message converted to the local time zone)
# To/From addresses:                                                                                   %-15.15L
# Message size in bytes:                                                                                        (%4c)
# Subject:                                                                                                            %s
set confirmappend = no
