# vim: ft=neomuttrc
# keyboard shortcuts

# don't distinguish new and unread mail
bind index,pager <Tab> next-unread

# archive mails -- $my_archives can be account-specific
macro index,pager ,a "<save-message>$my_archives$my_folder_sep`date +%Y`" "save mail to archive folder"
