# vim: ft=neomuttrc

set my_notmuch_cache=`echo ${XDG_CACHE_HOME:-$HOME/.cache}/notmuch/mutt/`

# adapted from upstream notmuch-mutt package
# we do a `notmuch new` every 30 minutes by cron, so it should not take too
# long to do it here too in order to get an up-to-date cache.
macro index,pager <F8> \
"<enter-command> set my_old_pipe_decode=\$pipe_decode my_old_wait_key=\$wait_key nopipe_decode nowait_key<enter>\
<shell-escape> notmuch new >/dev/null<enter>\
<shell-escape> notmuch-mutt -o $my_notmuch_cache/results -r --prompt search<enter>\
<change-folder-readonly> $my_notmuch_cache/results<enter>\
<enter-command> set pipe_decode=\$my_old_pipe_decode wait_key=\$my_old_wait_key<enter>" \
      "notmuch: search mail"

macro index,pager <F9> \
"<enter-command> set my_old_pipe_decode=\$pipe_decode my_old_wait_key=\$wait_key nopipe_decode nowait_key<enter>\
<shell-escape> notmuch new >/dev/null<enter>\
<pipe-message> notmuch-mutt -o $my_notmuch_cache/results -r thread<enter>\
<change-folder-readonly> $my_notmuch_cache/results<enter>\
<enter-command> set pipe_decode=\$my_old_pipe_decode wait_key=\$my_old_wait_key<enter>" \
      "notmuch: reconstruct thread"

macro index,pager ,fn "\
<enter-command> set my_old_pipe_decode=\$pipe_decode my_old_wait_key=\$wait_key nopipe_decode nowait_key<enter>\
<shell-escape> notmuch new >/dev/null<enter>\
<enter-command> set wait_key<enter>\
<pipe-message> notmuch-where-on-disk -<enter>\
<enter-command> set pipe_decode=\$my_old_pipe_decode wait_key=\$my_old_wait_key<enter>\
" "notmuch: show filename of current message"

# note: things go horribly wrong when doing a set my_var=`get-input-from-stdin`
macro index,pager ,i "\
<enter-command> set my_old_wait_key=\$wait_key nowait_key<enter>\
<shell-escape> notmuch new >/dev/null && \
 rm -f $my_notmuch_cache/where-on-disk && \
 notmuch-where-on-disk --verbose --mailbox > $my_notmuch_cache/where-on-disk<enter>\
<enter-command> set my__folder=\`awk '{print $1; exit}' $my_notmuch_cache/where-on-disk\`<enter>\
<enter-command> set my__id=\`awk '{print $2; exit}' $my_notmuch_cache/where-on-disk\`<enter>\
<enter-command> set wait_key=\$my_old_wait_key<enter> \
<enter-command> source $my_cfgdir/dynamic/jump-to-mail.rc<enter>\
<enter-command> unset my__folder my__id<enter>\
µ6kgMbn\
" "notmuch: go to folder containing message ID"
