# vim: ft=neomuttrc
# pager behaviour
set pager_stop = yes
set pager_index_lines = 20
set markers = no
set tilde = no
set quote_regexp = '^([ \t]*[>])+'	# remove everything except '>'

ignore * In-Reply-To:
unhdr_order *
unignore  From: Reply-To: Date: To: Cc: Bcc: Message-ID: X-Mailer: User-Agent: Subject:
hdr_order From: Reply-To: Date: To: Cc: Bcc: Message-ID: X-Mailer: User-Agent: Subject:
