# vim: ft=neomuttrc
# keep patterns in sync with clear.rc
#		fg		bg	pattern
color body	red		default	'^-.*'			# removed lines and --- file info
color body	green		default	'^\+.*'			# added lines and +++ file info
color body	blue		default	'^@@.*'			# hunk lines
color body	brightdefault	default	'^(diff|index|(new|deleted) file|(old|new) mode) .*'	# git info lines at start of each file

# additional git pseudo-headers
color body	magenta		default	'^From: .*'
color body	magenta		default	'^Signed-off-by: .*'

color body	yellow		default	'^Acked-by: .*'
color body	yellow		default	'^Cc: .*'
color body	yellow		default	'^Co-Developed-by: .*'
color body	yellow		default	'^Co-authored-by: .*'
color body	yellow		default	'^Fixes: .*'
color body	yellow		default	'^Reported-by: .*'
color body	yellow		default	'^Reviewed-by: .*'
color body	yellow		default	'^Suggested-by: .*'
color body	yellow		default	'^Tested-by: .*'
